.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 50px; /* Adds padding to the left and right */
    background-color: rgb(255, 255, 255);
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align everything to the top */
    align-items: center; /* Center the text and image */
    max-width: 60%;
}

.left-section h1 {
    color: grey;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; /* Ensure headings are centered */
}

.left-section img {
    max-width: 50%;
    height: auto;
    margin-top: 10px; /* Reduce the gap between the text and image */
}

.action-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.action-selection Button {
    margin: 10px 0; /* Adds space between buttons */
}
