.landing-page{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Ensures it covers the entire viewport height */
    margin: 0;
    padding: 0;
}

.action-selection{
    justify-content: center;
    text-align: center;
}